.root {
	-primary: #f4ebdb;
	-secondary: #2f5d50;
	-tertiary: #0a3a32;
	-yellow: #feb83c;
	-orange: #f59e0b;
	-red: #e55548;
	-blue: #368ea1;
	-green: #32956c;
	-grey-light: #b6c5bf;
	-grey-dark: #353e3a;
	-white: #f1f0eb;
	-black: #222222;
}

/* ######################### TITLE BAR ######################### */
.title-bar {
	-fx-background-color: -tertiary;
	-fx-alignment: center-left;
	-fx-spacing: 10;
}

.title-text {
	-fx-text-fill: -white;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-padding: 0 0 0 20;
}

.title-btn {
	-fx-background-color: transparent;
	-fx-text-fill: -white;
	-fx-font-size: 16px;
	-fx-min-width: 48px;
	-fx-min-height: 36px;
	-fx-padding: 8 0 8 0;
	-fx-cursor: hand;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-effect: none;
}

.title-btn:hover {
	-fx-background-color: -secondary;
}
.close-btn:hover {
	-fx-background-color: -red;
}

/* ######################### CONTENT ######################### */
.content-root {
	-fx-background-color: -primary;
	-fx-padding: 15 25; /* atas bawah 15, kanan kiri 25 */
	-fx-spacing: 15; /* jarak antar komponen didalamnya */
}

/* ======================== TEXT FIELD ======================== */
.input-wrapper {
	-fx-background-color: -secondary;
	-fx-background-radius: 8;
	-fx-border-radius: 8;
	-fx-padding: 20;
	-fx-spacing: 10;
}

.input-field {
	-fx-background-color: -primary;
	-fx-background-radius: 8;
	-fx-background-insets: 0;
	-fx-border-radius: 8;
	-fx-border-insets: -1;
	-fx-border-color: -tertiary;
	-fx-border-width: 1;
	-fx-padding: 5 12;
	-fx-pref-height: 40;
	-fx-text-fill: -black;
	-fx-prompt-text-fill: -grey-dark;
	-fx-font-size: 18px;
}

/* ======================== BUTTON ======================== */

.control-btn {
	-fx-background-radius: 8;
	-fx-border-radius: 8;
	-fx-border-insets: -1;

	-fx-border-color: -tertiary;
	-fx-border-width: 2;

	-fx-padding: 8 20;
	-fx-font-size: 18px;
	-fx-cursor: hand;
	-fx-text-fill: -white;
	-fx-pref-height: 40;
	-fx-pref-width: 100;

	-fx-background-color: -grey-dark;
}

.control-btn:disabled {
	-fx-opacity: 0.5;
	-fx-cursor: default;
}

/* ======= START BUTTON ======= */
.control-btn-start {
	-fx-background-color: -blue;
}

.control-btn-start:hover {
	-fx-translate-y: -2px;
}

/* ======= STOP BUTTON ======= */
.control-btn-stop {
	-fx-background-color: -red;
}

.control-btn-stop:hover {
	-fx-translate-y: -2px;
}

/* ======= EXPORT BUTTON ======= */
.control-btn-export {
	-fx-background-color: -yellow;
}

.control-btn-export:hover {
	-fx-translate-y: -2px;
}

/* ======================== SUMMARY & FILTERS CARD ======================== */

.card {
	-fx-background-color: -secondary;
	-fx-background-radius: 12;
	-fx-border-color: -tertiary;
	-fx-border-radius: 12;
	-fx-padding: 5 15 15 15;
	-fx-spacing: 10;
}

.section-title {
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

/* ======================== SUMMARY ======================== */

.summary-box {
	-fx-background-color: -grey-dark;
	-fx-background-radius: 8;
	-fx-border-color: -tertiary;
	-fx-border-radius: 8;
	-fx-alignment: CENTER;
}

.subcard-title {
	-fx-text-fill: -grey-light;
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}

.summary-value {
	-fx-text-fill: -white;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.summary-value-red {
	-fx-text-fill: -red;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.status-idle {
	-fx-text-fill: -white;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.status-checking {
	-fx-text-fill: -blue;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.status-stopped {
	-fx-text-fill: -red;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.status-completed {
	-fx-text-fill: -green;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

/* ======================== FILTERS ======================== */

.filter-field {
	-fx-background-color: -primary;
	-fx-background-radius: 8;
	-fx-background-insets: 0;
	-fx-border-radius: 8;
	-fx-border-insets: -1;
	-fx-border-color: -tertiary;
	-fx-border-width: 1;
	-fx-padding: 5 12;
	-fx-pref-height: 40;
	-fx-text-fill: -black;
	-fx-prompt-text-fill: -grey-dark;
	-fx-font-size: 17px;
}

.filter-combo {
	-fx-background-color: -grey-dark;
	-fx-border-color: -tertiary;
	-fx-border-radius: 8;
	-fx-background-radius: 8;
	-fx-font-size: 15px;
	-fx-padding: 0 8;
	-fx-pref-height: 40;
	-fx-pref-width: 180;
}

.combo-box-popup > .list-view {
	-fx-background-color: -grey-dark;
	-fx-border-color: transparent;
	-fx-padding: 0;
}

.filter-combo .list-cell {
	-fx-background-color: -grey-dark;
	-fx-text-fill: -white;
}

.filter-combo .list-cell:hover {
	-fx-background-color: -grey-light;
	-fx-cursor: hand;
	-fx-text-fill: -black;
}

/* ===================== RESULT TABLE ===================== */
.table-view {
	-fx-background-color: -primary;
	-fx-border-color: -tertiary;
	-fx-table-cell-border-color: -tertiary;
}

/* Header */
.table-view .column-header {
	-fx-background-color: -grey-dark;
	-fx-border-color: -tertiary;
	-fx-pref-height: 40px;
}

.table-view .column-header .label {
	-fx-font-weight: bold;
	-fx-text-fill: -white;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 10;
	-fx-font-size: 17px;
}

.table-view .column-header-background {
	-fx-background-color: -grey-dark;
}

/* Body */
.table-view .table-row-cell {
	-fx-background-color: -primary;
}

.table-view .table-row-cell:hover {
	-fx-background-color: -grey-light;
}

.table-view .table-cell {
	-fx-text-fill: -grey-dark;
	-fx-font-size: 15px;
	-fx-border-color: -tertiary;
	-fx-padding: 6 8;
}

/* Hyperlink */

.hyperlink {
	-fx-text-fill: #19539a;
}

.hyperlink:hover {
	-fx-text-fill: #17447b;
	-fx-underline: true;
}

/* ===================== Scrollbar TableView ===================== */

.table-view .filler,
.table-view .corner {
	-fx-background-color: -grey-dark;
	-fx-border-color: -grey-dark;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
	-fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
	-fx-background-color: #6b7280;
	-fx-background-radius: 5px;
}

.table-view .scroll-bar .thumb:hover {
	-fx-background-color: #9ca3afcc;
}

/* ===================== PAGINATION CONTAINER ===================== */
.pagination-bar {
	-fx-padding: 0;
	-fx-alignment: center;
}

.pagination-btn {
	-fx-background-color: -grey-dark;
	-fx-text-fill: -white;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-padding: 0;
	-fx-background-radius: 0;
	-fx-cursor: hand;
	-fx-border-color: -tertiary;
	-fx-border-width: 2;
	-fx-background-insets: 0;
	-fx-border-insets: -1;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 40px;
	-fx-max-height: 40px;
	-fx-alignment: center;
}

.pagination-btn:hover {
	-fx-background-color: -tertiary;
}

.pagination-btn.active {
	-fx-background-color: -green;
	-fx-border-color: -grey-dark;
}

.pagination-btn.prev {
	-fx-background-radius: 10 0 0 10;
	-fx-border-radius: 10 0 0 10;
	-fx-font-size: 17px;
}
.pagination-btn.next {
	-fx-background-radius: 0 10 10 0;
	-fx-border-radius: 0 10 10 0;
	-fx-font-size: 17px;
}

.pagination-btn:disabled {
	-fx-opacity: 0.65;
	-fx-cursor: default;
}
