/* ======================= ROOT ======================= */
.root {
    -fx-font-family: "Segoe UI", "Inter", sans-serif;
}

/* ======================= TITLE BAR ======================= */
.title-bar {
    -fx-alignment: center-left;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 15;
}

.title-btn {
	-fx-background-color: transparent;
	-fx-text-fill: #d1d5db;
	-fx-font-size: 16px;
	-fx-min-width: 48px;
	-fx-min-height: 36px;
	-fx-padding: 8 0 8 0;
	-fx-cursor: hand;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-background-insets: 0;
	-fx-effect: none;
}

.title-btn:hover {
	-fx-background-color: #494949;
	-fx-text-fill: white;
}

/* ======================= CONTENT ======================= */
.content-area {
    -fx-background-color: #2c2c2c;
    -fx-padding: 20;
}

.icon-label {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-min-width: 50px;
    -fx-alignment: center;
}

.message-text {
    -fx-text-fill: #f9fafb;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
}

/* ======================= HOVER EFFECT ======================= */
.root:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 12, 0, 0, 3);
}
