.root {
	-primary: #f4ebdb;
	-secondary: #2f5d50;
	-tertiary: #0a3a32;
	-yellow: #feb83c;
	-orange: #f59e0b;
	-red: #e55548;
	-blue: #368ea1;
	-green: #32956c;
	-grey-light: #b6c5bf;
	-grey-dark: #353e3a;
	-white: #f1f0eb;
	-black: #222222;

	-fx-border-width: 3;
	-fx-border-color: -tertiary;
}

/* ################### TITLE BAR ################### */
.title-bar {
	-fx-background-color: -tertiary;
	-fx-alignment: center-right;
	-fx-background-insets: -1;
}

.title-text {
	-fx-text-fill: -white;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-padding: 0 0 0 20;
}

.title-btn {
	-fx-background-color: transparent;
	-fx-text-fill: -white;
	-fx-font-size: 20px;
	-fx-min-width: 48px;
	-fx-min-height: 36px;
	-fx-padding: 8 0 8 0;
	-fx-cursor: hand;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-effect: none;
}

.close-btn:hover {
	-fx-background-color: -red;
	-fx-text-fill: -white;
}

/* ################### CONTENT ################### */
.content-area {
	-fx-background-color: -primary;
	-fx-padding: 20;
	-fx-spacing: 15;
}

/* ============== LINK INFO CARD ============== */
.card {
	-fx-background-color: -secondary;
	-fx-border-color: -tertiary;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-padding: 16;
	-fx-spacing: 12;
}

.text-label {
	-fx-text-fill: -white;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.text-field {
	-fx-background-color: -primary;
	-fx-background-radius: 8;
	-fx-background-insets: 0;
	-fx-border-radius: 8;
	-fx-border-insets: -1;
	-fx-border-color: -tertiary;
	-fx-border-width: 1;
	-fx-padding: 5 12;
	-fx-pref-height: 40;
	-fx-text-fill: -black;
	-fx-prompt-text-fill: -grey-dark;
	-fx-font-size: 15px;
}

.text-field:disabled,
.text-field:readonly {
	-fx-opacity: 1;
}

/* ============== WEBPAGE LINK TABLE ============== */
.table-view {
	-fx-background-color: -secondary;
	-fx-border-color: -tertiary;
	-fx-table-cell-border-color: -tertiary;
}

/* ******** Table Header ******** */
.table-view .column-header {
	-fx-background-color: -grey-dark;
	-fx-border-color: -tertiary;
	-fx-pref-height: 40px;
}

.table-view .column-header .label {
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: -white;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 10;
}

.table-view .column-header-background {
	-fx-background-color: -grey-dark;
}

/* ******** Table Body ******** */
.table-view .table-row-cell {
	-fx-background-color: -primary;
}

.table-view .table-row-cell:hover {
	-fx-background-color: -grey-light;
}

.table-view .table-cell {
	-fx-text-fill: -grey-dark;
	-fx-border-color: -tertiary;
	-fx-padding: 6 8;
	-fx-font-size: 15px;
}

/* ******** Hyperlink ******** */

.hyperlink {
	-fx-text-fill: #19539a;
}

.hyperlink:hover {
	-fx-text-fill: #17447b;
	-fx-underline: true;
}

/* ============== SCROLLBAR TABLEVIEW ============== */
.table-view .filler,
.table-view .corner {
	-fx-background-color: -grey-dark;
	-fx-border-color: -grey-dark;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
	-fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
	-fx-background-color: #6b7280;
	-fx-background-radius: 5px;
}

.table-view .scroll-bar .thumb:hover {
	-fx-background-color: #9ca3afcc;
}
