/* ======================= ROOT ======================= */
.window-root {
	-fx-background-color: #2c2c2c;
	-fx-font-family: "Segoe UI", "Inter", sans-serif;
}

/* ======================= TITLE BAR ======================= */
.title-bar {
	-fx-background-color: #383838;
	-fx-alignment: center-right;
}

.title-btn {
	-fx-background-color: transparent;
	-fx-text-fill: #d1d5db;
	-fx-font-size: 16px;
	-fx-min-width: 48px;
	-fx-min-height: 36px;
	-fx-padding: 8 0 8 0;
	-fx-cursor: hand;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-effect: none;
}

.title-btn:hover {
	-fx-background-color: #494949;
	-fx-text-fill: white;
}


/* ======================= CONTENT ======================= */
.content-root {
	-fx-padding: 20;
	-fx-background-color: transparent;
}

/* ======================= CARD ======================= */
.card {
	-fx-background-color: #1e1e1e;
	-fx-border-color: #494949;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-padding: 16;
}

/* ======================= LABELS & FIELDS ======================= */
.label {
	-fx-text-fill: #f9fafb;
	-fx-font-size: 13px;
	-fx-font-weight: 600;
}

.text-field {
	-fx-background-color: #2b2b2b;
	-fx-text-fill: #f9fafb;
	-fx-border-color: #494949;
	-fx-border-radius: 6;
	-fx-background-radius: 6;
	-fx-font-size: 13px;
	-fx-padding: 6 10;
}

.single-line {
	-fx-pref-height: 28px;
	-fx-min-height: 28px;
	-fx-max-height: 28px;
}

.text-field:disabled,
.text-field:readonly {
	-fx-opacity: 1;
}

/* ======================= TABLE ======================= */
.table-view {
	-fx-background-color: #1e1e1e;
	-fx-border-color: #303030;
	-fx-table-cell-border-color: #303030;
}

/* Header */
.table-view .column-header {
	-fx-background-color: #2b2b2b;
	-fx-border-color: #303030;
	-fx-pref-height: 40px;
}

.table-view .column-header .label {
	-fx-font-weight: bold;
	-fx-text-fill: #f9fafb;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 10;
	-fx-font-size: 13px;
}

.table-view .table-row-cell {
	-fx-background-color: #1e1e1e;
}

.table-view .table-row-cell:hover {
	-fx-background-color: #2a2a2a;
}

.table-view .table-cell {
	-fx-text-fill: #f9fafb;
	-fx-padding: 6 8;
}

.hyperlink {
	-fx-text-fill: #60a5fa;
}

.hyperlink:hover {
	-fx-text-fill: #93c5fd;
	-fx-underline: true;
}
